/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:wght@300;400;600&display=swap");
html {
  font-family: "Titillium Web", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Bebas Neue", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    sans-serif;
}
/*  */
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
